<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О нас</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <div th:insert="fragment/header :: header"></div>
</head>
    <body class="text-bg-light">
        <main class="col-md-8 mx-auto">
            <h1>О компании</h1>
            <p>Для воплощения в жизнь разработок ведущих специалистов страны в   области игольных и высокоточных технологий, таких как получение   сверхчистых поверхностей игл, ионновакуумных цветообразующих покрытий,   трёхступенчатой прецизионной заточки и выполнение особо прочных замковых   соединений хирургических нитей с иглами, в 1990 году было создано   предприятие "ВОЛОТЬ".</p>
            <p>Мы производим атравматические иглы по уникальной отечественной технологии, вобравшей в себя 110-летний   опыт выпуска игл в России, передовые отечественные и мировые разработки в   области металлообработки, упаковки и стерилизации изделий.</p>
            <p>Весь процесс изготовления продукции выполняется на одной   производственной площадке в неразрывном производственном цикле. Ведется   постоянное внедрение новой техники и новых технологических процессов,   повышающих качество выпускаемой продукции, которая используется в   Медицинском Центре при Управлении делами Президента РФ, различными   Государственными министерствами и ведомствами, а так же региональными   управлениями и ведомствами, больницами и клиниками.</p>
            <p>Предприятие "Волоть" производит комплекты игл атравматических с различными хирургическими нитями,   для удовлетворения потребности медицинских учреждений в стерильных   шовных атравматических материалах. Продукция сертифицирована и разрешена   Министерством Здравоохранения РФ к применению в сердечно-сосудистой и   общей хирургии.</p>
            <p>Комплекты прошли полный цикл технических и клинических испытаний в   ВНИИМТ и ведущих клиниках России (МОНИКИ, институт сердечно-сосудистой   хирургии им.Бакулева, институт им.Вишневского).</p>
            <p>Мы в течение пяти лет обеспечиваем по прямым договорам Медицинский   центр Управления делами Президента РФ, Главное Военно-медицинское   Управление ВС России, Московский областной клинический институт им.Владимирского, ряд областных больниц и другие институты и клиники. Так же нашими заказчиками являются большинство московских клиник, больниц.</p>
            <p>Иглы выпускаются под торговой маркой "Волоть". Производство   расположено в поселке Богучарово Тульской области. В настоящее время   наше производство выпускает более 3 000 000 стерильных упаковок в год и   при необходимости объем продукции может быть увеличен.</p>
            <p>Гибкая система производства позволяет осуществлять выпуск продукции в   широком ассортименте, по требованию потребителя. В настоящее время,   выпускаемая номенклатура более 17000 различных видов стерильных   комплектов в одно - и в двухигольном исполнении с длиной нити 25, 50, 75 и 150 см. А так же стерильные комплекты выше перечисленных нитей в   безигольном исполнении (лигатуре) с различной длинной нити. Это   позволяет нам занимать лидирующее положение среди Российских   производителей шовных хирургических материалов.</p>
            <h1>Стратегия медицинской компании "Волоть"</h1>

            <p>Главным направлением деятельности медицинской компании "Волоть"   является полное удовлетворение потребностей заказчика. Основу нашей   политики составляют широкий ассортимент, невысокие цены, отличное   качество шовного материала. Мы постоянно расширяемся и привлекаем к   работе профессиональных дилеров, проводим  маркетинговые акции, точно   выполняем договорные обязательства, отслеживаем рыночные тенденции и   увеличиваем ассортимент шовного материала. Мы ориентированы на   долговременное и доверительное сотрудничество с клиентами.</p>
            <strong>Основные преимущества работы нашей компании:</strong>
            <ul>
                <li>многолетний опыт производства шовного материала;</li>
                <li>периодическое увеличение ассортимента шовного материала;</li>
                <li>точное выполнение договорных обязательств, удовлетворение потребностей  заказчиков в строгом соответствии с условиями договора;</li>
                <li>идеальное соотношение цены и качества;</li>
                <li>производство по новейшим технологиям;</li>
                <li>наша продукция прошла полный цикл технических и клинических испытаний;</li>
                <li>гибкая система скидок;</li>
                <li>огромное количество маркетинговых акций;</li>
                <li>бесплатные образцы шовного материала;</li>
                <li>максимум необходимой информации о товарах на сайте;</li>
                <li>консультация профессиональных специалистов;</li>
                <li>высококвалифицированный персонал.</li>
            </ul>
            <p>Качество шовного материала является важнейшей составляющей работы медицинской компании "Волоть".</p>
            <p>Мы стремимся максимально использовать внутренние ресурсы   производства, чтобы улучшать качество наших услуг и добиваться высоких   результатов работы.</p>
        </main>
    </body>
</html>