<div th:fragment="header"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
class="pb-5">
    <header class="p-1 text-bg-light border-bottom border-dark">
        <div class="container">
            <div justify-content-evenly align-items-center>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 d-flex">
                    <img width="190" height="38" src="https://www.volot.ru/local/templates/main/img/logo.png"
                         alt="logotip">
                    <li><a class="nav-link text-black fs-3 fw-light" href="/catalog">КАТАЛОГ</a></li>
                    <li><a class="nav-link text-black fs-3 fw-light" href="/">О КОМПАНИИ</a></li>
                    <!--            <li><a class="nav-link text-black fs-3 fw-light" href="/main">ГЛАВНАЯ</a></li>-->
                    <li><a class="nav-link text-black fs-3 fw-light" href="/contact">КОНТАКТЫ</a></li>
                    <li><a class="nav-link text-black fs-3 fw-light" href="/cart"
                           sec:authorize="hasAnyAuthority('USER')">КОРЗИНА</a></li>
                    <li><a class="nav-link text-black fs-3 fw-light" href="/profile"
                           sec:authorize="hasAnyAuthority('USER')">ПРОФИЛЬ</a></li>
                    <div class="position-absolute end-0">
                        <form th:action="@{/login}" method="post"
                              sec:authorize="not hasAnyAuthority('USER')">
                            <input type="submit" value="ВОЙТИ"
                                   class="btn btn-outline-dark fs-3 fw-light border-light"/>
                        </form>
                        <form th:action="@{/logout}" method="post"
                              sec:authorize="hasAnyAuthority('USER')">
                            <input type="submit" value="ВЫЙТИ"
                                   class="btn btn-outline-dark fs-3 fw-light border-light"/>
                        </form>
                    </div>
                </ul>
            </div>
        </div>
    </header>
</div>